.folder { width: 100%; height: 100%; overflow: auto; }
.folder > .tree { width: 30%; }
.folder > .tree h1 { display: none; /* Bookmarks */ }
.folder > .tree h3 { margin: 0; padding: 8px; /* mappak nevei */ }
.folder > .tree > dl > dt > h3 { margin-left: 0; /* mappa nev */ }
.folder > .tree > dl > dt > dl > dt > h3 { margin-left: 32px; /* almappa nev */ }
.folder > .tree a  { display: none; }
.folder > .tree p  { display: none; }
.folder > .view { width: 68%; }
.folder > .view h1 { display: none; /* Bookmarks */ }
.folder > .view > h3 { display: none; /* mappa nev */ }
.folder > .view > dl > dt > h3 { /* almappa */ }
.folder > .view > dl > dt > dl > dt > a { display: none; /* almappa linkjei */ }
.folder > .view a { display: block; padding-top: 8px; text-decoration: none; }
.folder > .tree h3:hover, .folder .view a:hover { background-color: #AAAAFF; color: white; }
.folder > .tree, .folder .view { float: left; height: 100%; overflow-x: hidden; overflow-y: scroll; }
.icon-mini,  .icon-missing, .icon-folder  { width: 16px; height: 16px; margin: 0 8px; display: block; float: left; }
.icon-folder { background-image: url('pictures/bookmarks.png'); background-size: 16px; }
