{ margin: 0; padding: 0; }

html { 
	background: url('pictures/wallpaper.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
/* 	background: url(pictures/wallpaper.jpg) black; */
	color: red;
	font-family:arial;
/* 	float: left; */
}

.desktop {
	float: left;
	margin-bottom: 40px;
}

.shortcut {
	float:left;
	display: block;
	text-align: center;
}
.shortcut a {
	float: left;
}
.shortcut span {
	background: #245EDC;
	border-radius: 3px;
	padding: 3px;
	
}
.shortcut img:hover {
	background: #1B4CB5;
	border-radius: 5px;
	
}
.shortcut a, a:link, .shortcut a:visited, .shortcut a:hover, .shortcut a:active ,
.button a, a:link, .button a:visited, .button a:hover, .button a:active {
	color: white;
	text-decoration: none;
}

.taskbar {
	float: left;
	width: 100%;
/* 	height: 34px; */
	background: #245EDC;
	color: white;
/* 	padding: 10px; */
/* 	border: 2px solid #AAA; */
	left: 0px;
	bottom: 0px;
	position: fixed;
}
.taskbar .button img {
	color: white;
	width: 15px;
}
.taskbar .button {
	float: left;
	padding: 7px 5px 2px 5px;
	margin: 5px;
/* 	height: 20px; */
	width: 100px;
	text-align: center;
	background: #69F;
/* 	border: 4px solid #AAF; */
	font-size: 15px;
	vertical-align: middle;
	border-radius: 5px;
}
.taskbar .button {
	display: block;
	padding-top: 3p;
}
.taskbar .home {
	background-color: #6D6;
/* 	width: 50px; */
}
.taskbar .clock {
	float: right;
	color: black;
	width: 50px;
	height: 100%;
}
.taskbar .selected {
	background: #1B4CB5;
}

/* http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* Small phones ----------- */
@media only screen and (min-device-width :   0px) and (max-device-width : 300px) {
/* Styles */
/* 	body { background-color: blue; } */
	.shortcut {     width:32px; font-size: 8px; padding:5px; margin:5px; }
	.shortcut img { width:32px; height:32px; }
}

/* Smartphones ----------- */
@media only screen and (min-device-width : 301px) and (max-device-width : 800px) {
/* Styles */
/* 	body { background-color: green; } */
	.shortcut {     width:55px; font-size: 12px; padding:5px; margin:5px; }
	.shortcut img { width:55px;     height:55px; }
}

/* Desktops, laptops, tablets ----------- */
@media only screen and (min-device-width : 801px) and (max-device-width : 1824px) {
/* Styles */
/* 	body { background-color: yellow; } */
	.shortcut {     width:64px; font-size: 14px; padding:5px; margin:15px; }
	.shortcut img { width:64px;    height:64px; }

}

/* Large screens ----------- */
@media only screen and (min-device-width : 1825px) and (max-device-width : 9999px) {
/* Styles */
/* 	body { background-color: red; } */
	.shortcut {     width:64px; font-size: 14px; padding:5px; margin:15px; }
	.shortcut img { width:64px;    height:64px; }
}
