{ margin: 0; padding: 0; }
html { background: url('pictures/blue-tile.jpg') repeat fixed; }

.desktop {
	float: left;
	margin-bottom: 50px;
}

.shortcut {
	float:left;
	display: block;
	text-align: center;
     width:64px;
     font-size: 14px;
     margin: 0 5px;
     padding: 0 5px;
}
.shortcut img {
    width:64px;
    height:64px;
}
.shortcut span {
	display: block;
	height: 32px;
}
.shortcut:hover {
	background: #3388ff;
	border-radius: 5px;
}
.shortcut, .shortcut :link, .shortcut :visited, .shortcut :hover, .shortcut :active ,
.button  , .button   :link, .button   :visited, .button   :hover, .button   :active {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.taskbar {
	float: left;
	width: 100%;
	background: #245EDC;
	color: white;
	left: 0px;
	bottom: 0px;
	position: fixed;
}
.taskbar .button {
	float: left;
	padding: 5px;
	margin: 5px;
	background: #69F;
	border-radius: 5px;
	display: block;
}
.taskbar .clock-button {
	float: right;
}
.taskbar .button img {
	width: 24px;
	float: left;
	vertical-align: middle;
}
.taskbar .button span {
    display: block;
    float: left;
	font-size: 18px;
    padding-top: 4px;
    padding-left: 4px;
}
.with-text {
    width: 120px;
}
.icon-only {
    width: 24px;
}
.taskbar .home {
	background-color: #6D6;
}
.taskbar .clock {
	float: right;
	color: black;
	height: 100%;
	padding-right: 8px;
}
.taskbar .selected {
	background: #1B4CB5;
}

.text-reader {
    background-color: white;
    /* border-radius: 5px; */
    overflow: auto;
    height: 100%;
    position: relative;
}
.image-viewer {
	/* border-radius: 5px; */
	/* position: relative; */
	/* float: left; */
	overflow: auto;
}
.image-viewer img {
    /* position: relative; */
    /* float: left; */
    /* overflow: auto; */
}
pre {
    margin: 0;
}
.hidden-window {
    display: none;
}
.window {
	/* padding: 10px; */
	margin: 10px;
	border-radius: 5px;
	border: 5px solid blue;
	background-color: blue;
	/* float: left; */
}
.window .title {
    padding: 5px 5px 5px 5px;
    /* color: white; */
    font-weight: bold;
    /* border-bottom: solid; */
    margin-bottom: 5px;
    background-color: #CCC;
}
.window-minus-title {
    position: relative;
    overflow: auto;
}
.thumbnail {
    max-width: 200px;
    max-height: 200px;
}
.close-button {
    background-color: red;
	border-radius: 5px;
}