{ margin: 0; padding: 0; }
html { background: url('pictures/blue-tile.jpg') repeat; }

.desktop {
	float: left;
	margin-bottom: 40px;
}

.shortcut {
	float:left;
	display: block;
	text-align: center;
     width:64px;
     font-size: 14px;
     margin: 0 5px;
     padding: 0 5px;
}
.shortcut img {
    width:64px;
    height:64px;
}
.shortcut span {
	display: block;
	height: 32px;
}
.shortcut:hover {
	background: #3388ff;
	border-radius: 5px;
}
.shortcut, .shortcut :link, .shortcut :visited, .shortcut :hover, .shortcut :active ,
.button  , .button   :link, .button   :visited, .button   :hover, .button   :active {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.taskbar {
	float: left;
	width: 100%;
	background: #245EDC;
	color: white;
	left: 0px;
	bottom: 0px;
	position: fixed;
}
.taskbar .button img {
	color: white;
	width: 15px;
}
.taskbar .button {
	float: left;
	padding: 7px 5px 2px 5px;
	margin: 5px;
	width: 100px;
	text-align: center;
	background: #69F;
	font-size: 15px;
	vertical-align: middle;
	border-radius: 5px;
}
.taskbar .button {
	display: block;
	padding-top: 3p;
}
.taskbar .home {
	background-color: #6D6;
}
.taskbar .clock {
	float: right;
	color: black;
	width: 50px;
	height: 100%;
}
.taskbar .selected {
	background: #1B4CB5;
}